---
import { SITE_TITLE, TITLE_CONTACT } from '@/consts';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title={SITE_TITLE + ' | ' + TITLE_CONTACT}>
	<div class='container'>
		<main>
			<div class='mb-5'>
				<h1 class='text-3xl font-bold mb-2'>Contacto</h1>
				<p class='text-zinc-700 dark:text-zinc-300 text-lg'>
					Ponte en contacto conmigo a través de este formulario. Estoy aquí para ayudarte y responder a tus preguntas. Si tienes alguna duda
					o necesitas más información, no dudes en escribirme. Estoy deseando saber de ti.
				</p>
			</div>
			<form
				class='contact-form space-y-6 bg-dark-gray-600 p-8 rounded-lg shadow-md'
				action='https://formsubmit.co/pablo@broslunas.com'
				method='POST'
			>
				<div id='error-message' class='text-red-500 text-xl hidden text-center'></div>

				<div class='flex flex-col'>
					<label class='text-gray-300 font-medium' for='name'>Nombre:</label>
					<input
						class='mt-2 p-3 border border-gray-600 rounded-lg bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-yellow-500 transition-transform duration-300 focus:scale-105'
						type='text'
						id='name'
						name='name'
						placeholder='Gustavo Adolfo López'
						required
					/>
				</div>
				<div class='flex flex-col'>
					<label class='text-gray-300 font-medium' for='email'>Correo:</label>
					<input
						class='mt-2 p-3 border border-gray-600 rounded-lg bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-yellow-500 transition-transform duration-300 focus:scale-105'
						type='email'
						id='email'
						name='email'
						placeholder='example@broslunas.com'
						required
					/>
				</div>
				<div class='flex flex-col'>
					<label class='text-gray-300 font-medium' for='phone'>Número de Teléfono (opcional):</label>
					<input
						class='mt-2 p-3 border border-gray-600 rounded-lg bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-yellow-500 transition-transform duration-300 focus:scale-105'
						type='tel'
						id='phone'
						name='phone'
						placeholder='+34 612 345 678'
					/>
				</div>
				<div class='flex flex-col'>
					<label class='text-gray-300 font-medium' for='subject'>Asunto:</label>
					<input
						class='mt-2 p-3 border border-gray-600 rounded-lg bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-yellow-500 transition-transform duration-300 focus:scale-105'
						type='text'
						id='subject'
						name='subject'
						required
					/>
				</div>
				<div class='flex flex-col'>
					<label class='text-gray-300 font-medium' for='message'>Mensaje:</label>
					<textarea
						class='mt-2 p-3 border border-gray-600 rounded-lg bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-yellow-500 transition-transform duration-300 focus:scale-105'
						id='message'
						name='message'
						rows='5'
						required></textarea>
				</div>
				<input type='hidden' name='_next' value='https://broslunas.com/contacto/enviado/' />
				<input type='text' name='_honey' style='display:none' />
				<input type='hidden' name='_captcha' value='false' />
				<input type='hidden' name='_autoresponse' value='Gracias por ponerte en contacto con Broslunas' />
				<input type='hidden' name='_template' value='table' />
				<input type='hidden' name='_subject' value='Nuevo mensaje de Broslunas' />
				<div>
					<button class='w-full bg-yellow-700 text-white py-3 rounded-lg hover:bg-yellow-800 transition duration-300' type='submit'
						>Enviar</button
					>
				</div>

				<script>
					const form = document.querySelector('.contact-form');
					const nameInput = document.querySelector('#name');
					const errorMessage = document.querySelector('#error-message');

					const spamNames = ['robertarice', 'peep', 'eric jones', 'duanestame', 'ellispem'];

					if (form && nameInput && errorMessage) {
						form.addEventListener('submit', (e) => {
							const inputValue = (nameInput as HTMLInputElement).value.toLowerCase().trim();
							if (spamNames.some((name) => inputValue === name.toLowerCase())) {
								e.preventDefault();
								errorMessage.textContent = 'Este nombre no está permitido.';
								errorMessage.classList.remove('hidden');
								// Scroll hasta el mensaje de error y focus en el campo nombre
								errorMessage.scrollIntoView({ behavior: 'smooth', block: 'center' });
								(nameInput as HTMLInputElement).focus();
							} else {
								errorMessage.classList.add('hidden');
							}
						});
					}
				</script>
			</form>
		</main>
	</div>
</BaseLayout>
